### RAG Pipelines- Data Ingestion to Vector DB Pipeline

In [1]:
import os
from langchain_community.document_loaders import PyPDFLoader, PyMuPDFLoader
from langchain.text_splitter import RecursiveCharacterTextSplitter
from pathlib import Path

/home/adil-khan/Builds/RAG/myenv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
### Read all the pdf's inside the directory
def process_all_pdfs(pdf_directory):
    """Process all PDF files in a directory"""
    all_documents = []
    pdf_dir = Path(pdf_directory)
    
    # Find all PDF files recursively
    pdf_files = list(pdf_dir.glob("**/*.pdf"))

    print(f"Searching for PDF files in: {pdf_dir.resolve()}")
    
    print(f"Found {len(pdf_files)} PDF files to process")
    
    for pdf_file in pdf_files:
        print(f"\nProcessing: {pdf_file.name}")
        try:
            loader = PyPDFLoader(str(pdf_file))
            documents = loader.load()
            
            # Add source information to metadata
            for doc in documents:
                doc.metadata['source_file'] = pdf_file.name
                doc.metadata['file_type'] = 'pdf'
            
            all_documents.extend(documents)
            print(f"  ✓ Loaded {len(documents)} pages")
            
        except Exception as e:
            print(f"  ✗ Error: {e}")
    
    print(f"\nTotal documents loaded: {len(all_documents)}")
    return all_documents

# Process all PDFs in the data directory
all_pdf_documents = process_all_pdfs("../data")

Searching for PDF files in: /home/adil-khan/Builds/RAG/data
Found 1 PDF files to process

Processing: Getting Started with SQL.pdf
  ✓ Loaded 133 pages

Total documents loaded: 133

In [3]:
all_pdf_documents

[Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 0, 'page_label': 'Cover', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\n Getting Started with\n  SQL\nA HANDS-ON APPROACH  \nFOR BEGINNERS'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 1, 'page_label': 'BackCover', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content=''),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 2, 'page_label': 'i', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\nBoston\nGetting Started with SQL\nA Hands-on Approach for Beginners'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='978-1-491-93861-4\n[LSI]\nGetting Started with SQL\nby Thomas Nield\nCopyright © 2016 Thomas Nield. All rights reserved.\nPrinted in the United States of America.\nPublished by O’Reilly Media, Inc., 1005 Gravenstein Highway North, Sebastopol, CA 95472.\nO’Reilly books may be purchased for educational, business, or sales promotional use. Online editions are\nalso available for most titles ( http://safaribooksonline.com). For more information, contact our corporate/\ninstitutional sales department: 800-998-9938 or corporate@oreilly.com.\nEditor: Shannon Cutt\nProduction Editor: Shiny Kalapurakkel\nCopyeditor: Jasmine Kwityn\nProofreader: Rachel Head\nIndexer: Ellen Troutman-Zaig\nInterior Designer: David Futato\nCover Designer: Randy Comer\nIllustrator: Rebecca Demarest\nFebruary 2016:  First Edition\nRevision History for the First Edition\n2016-02-08: First Release\nSee http://oreilly.com/catalog/errata.csp?isbn=9781491938614 for release details.\nThe O’Reilly logo is a registered trademark of O’Reilly Media, Inc. Getting Started with SQL , the cover\nimage, and related trade dress are trademarks of O’Reilly Media, Inc.\nWhile the publisher and the author have used good faith efforts to ensure that the information and\ninstructions contained in this work are accurate, the publisher and the author disclaim all responsibility\nfor errors or omissions, including without limitation responsibility for damages resulting from the use of\nor reliance on this work. Use of the information and instructions contained in this work is at your own\nrisk. If any code samples or other technology this work contains or describes is subject to open source\nlicenses or the intellectual property rights of others, it is your responsibility to ensure that your use\nthereof complies with such licenses and/or rights.'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Table of Contents\nForeword. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  vii\nPreface. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  ix\n1. Why Learn SQL?. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  1\nWhat Is SQL and Why Is It Marketable?                                                                        1\nWho Is SQL For?                                                                                                                2\n2. Databases. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  3\nWhat Is a Database?                                                                                                           3\nExploring Relational Databases                                                                                       3\nWhy Separate Tables?                                                                                                        4\nChoosing a Database Solution                                                                                         5\nLightweight Databases                                                                                                       5\nCentralized Databases                                                                                                       6\n3. SQLite. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  9\nWhat Is SQLite?                                                                                                                  9\nSQLiteStudio                                                                                                                       9\nImporting and Navigating Databases                                                                            10\n4. SELECT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  19\nRetrieving Data with SQL                                                                                               19\nExpressions in SELECT Statements                                                                              23\nText Concatenation                                                                                                          27\nSummary                                                                                                                           28\niii'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='5. WHERE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  29\nFiltering Records                                                                                                              29\nUsing WHERE on Numbers                                                                                           30\nAND, OR, and IN Statements                                                                                        31\nUsing WHERE on Text                                                                                                   32\nUsing WHERE on Booleans                                                                                           34\nHandling NULL                                                                                                               34\nGrouping Conditions                                                                                                      36\nSummary                                                                                                                           37\n6. GROUP BY and ORDER BY. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  39\nGrouping Records                                                                                                            39\nOrdering Records                                                                                                             41\nAggregate Functions                                                                                                        42\nThe HAVING Statement                                                                                                 45\nGetting Distinct Records                                                                                                46\nSummary                                                                                                                           46\n7. CASE Statements. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  47\nThe CASE Statement                                                                                                       47\nGrouping CASE Statements                                                                                           48\nThe “Zero/Null” CASE Trick                                                                                          49\nSummary                                                                                                                           52\n8. JOIN. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  53\nStitching Tables Together                                                                                                53\nINNER JOIN                                                                                                                    55\nLEFT JOIN                                                                                                                        58\nOther JOIN Types                                                                                                            61\nJoining Multiple Tables                                                                                                   61\nGrouping JOINs                                                                                                               63\nSummary                                                                                                                           66\n9. Database Design. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  67\nPlanning a Database                                                                                                        67\nThe SurgeTech Conference                                                                                             69\nATTENDEE                                                                                                                  69\nCOMPANY                                                                                                                   69\nPRESENTATION                                                                                                         70\nROOM                                                                                                                           70\nPRESENTATION_ATTENDANCE                                                                          70\nPrimary and Foreign Keys                                                                                              70\niv | Table of Contents'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 6, 'page_label': 'v', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The Schema                                                                                                                       71\nCreating a New Database                                                                                                73\nCREATE TABLE                                                                                                              76\nSetting the Foreign Keys                                                                                                 84\nCreating Views                                                                                                                 86\nSummary                                                                                                                           89\n10. Managing Data. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  91\nINSERT                                                                                                                              91\nMultiple INSERTs                                                                                                         93\nTesting the Foreign Keys                                                                                             93\nDELETE                                                                                                                            94\nTRUNCATE TABLE                                                                                                        94\nUPDATE                                                                                                                           95\nDROP TABLE                                                                                                                   95\nSummary                                                                                                                           95\n11. Going Forward. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  97\nA. Operators and Functions. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  101\nB. Supplementary Topics. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  107\nIndex. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  113\nTable of Contents | v'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 7, 'page_label': 'vi', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content=''),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 8, 'page_label': 'vii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Foreword\nOver the past three decades, computers have taken over the world. Twenty-five years\nago, we lived analog. We communicated using an analog POTS telephone, we tuned\nin to analog FM radio stations, and we went to the library and browsed the stacks for\ninformation. Buildings were constructed using hand-drawn blueprints; graphic artists\nworked with pen, brush, and ink; musicians plucked strings and blew into horns and\nrecorded on analog tape; and airplanes were controlled by physical cables connecting\nthe yoke to the control surfaces.\nBut now everything is computerized and digital. Consequently, every member of\nsociety needs to be familiar with computers. That does not mean having the deep\nknowledge of a techie, but just as poets need to study a little math and physics, and\njust as mathematicians need to read a little poetry, so too does everybody today need\nto know something about computers.\nI think that this book really helps to address the knowledge gap between techies and\nlaypeople, by providing an accessible and easy-to-read discussion of SQL—a core\ndatabase technology.\n—Richard Hipp, Creator of SQLite\nvii'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 9, 'page_label': 'viii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content=''),

In [4]:
### Text splitting get into chunks

def split_documents(documents,chunk_size=1000,chunk_overlap=200):
    """Split documents into smaller chunks for better RAG performance"""
    text_splitter = RecursiveCharacterTextSplitter(
        chunk_size=chunk_size,
        chunk_overlap=chunk_overlap,
        length_function=len,
        separators=["\n\n", "\n", " ", ""]
    )
    split_docs = text_splitter.split_documents(documents)
    print(f"Split {len(documents)} documents into {len(split_docs)} chunks")
    
    # Show example of a chunk
    if split_docs:
        print(f"\nExample chunk:")
        print(f"Content: {split_docs[0].page_content[:200]}...")
        print(f"Metadata: {split_docs[0].metadata}")
    
    return split_docs

In [5]:
chunks=split_documents(all_pdf_documents)
chunks

Split 133 documents into 237 chunks

Example chunk:
Content: Thomas Nield
 Getting Started with
  SQL
A HANDS-ON APPROACH
FOR BEGINNERS...
Metadata: {'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 0, 'page_label': 'Cover', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}

[Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 0, 'page_label': 'Cover', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\n Getting Started with\n  SQL\nA HANDS-ON APPROACH  \nFOR BEGINNERS'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 2, 'page_label': 'i', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\nBoston\nGetting Started with SQL\nA Hands-on Approach for Beginners'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='978-1-491-93861-4\n[LSI]\nGetting Started with SQL\nby Thomas Nield\nCopyright © 2016 Thomas Nield. All rights reserved.\nPrinted in the United States of America.\nPublished by O’Reilly Media, Inc., 1005 Gravenstein Highway North, Sebastopol, CA 95472.\nO’Reilly books may be purchased for educational, business, or sales promotional use. Online editions are\nalso available for most titles ( http://safaribooksonline.com). For more information, contact our corporate/\ninstitutional sales department: 800-998-9938 or corporate@oreilly.com.\nEditor: Shannon Cutt\nProduction Editor: Shiny Kalapurakkel\nCopyeditor: Jasmine Kwityn\nProofreader: Rachel Head\nIndexer: Ellen Troutman-Zaig\nInterior Designer: David Futato\nCover Designer: Randy Comer\nIllustrator: Rebecca Demarest\nFebruary 2016:  First Edition\nRevision History for the First Edition\n2016-02-08: First Release\nSee http://oreilly.com/catalog/errata.csp?isbn=9781491938614 for release details.'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='February 2016:  First Edition\nRevision History for the First Edition\n2016-02-08: First Release\nSee http://oreilly.com/catalog/errata.csp?isbn=9781491938614 for release details.\nThe O’Reilly logo is a registered trademark of O’Reilly Media, Inc. Getting Started with SQL , the cover\nimage, and related trade dress are trademarks of O’Reilly Media, Inc.\nWhile the publisher and the author have used good faith efforts to ensure that the information and\ninstructions contained in this work are accurate, the publisher and the author disclaim all responsibility\nfor errors or omissions, including without limitation responsibility for damages resulting from the use of\nor reliance on this work. Use of the information and instructions contained in this work is at your own\nrisk. If any code samples or other technology this work contains or describes is subject to open source\nlicenses or the intellectual property rights of others, it is your responsibility to ensure that your use'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='licenses or the intellectual property rights of others, it is your responsibility to ensure that your use\nthereof complies with such licenses and/or rights.'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Table of Contents\nForeword. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  vii\nPreface. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  ix\n1. Why Learn SQL?. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  1\nWhat Is SQL and Why Is It Marketable?                                                                        1\nWho Is SQL For?                                                                                                                2\n2. Databases. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  3\nWhat Is a Database?                                                                                                           3'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='What Is a Database?                                                                                                           3\nExploring Relational Databases                                                                                       3\nWhy Separate Tables?                                                                                                        4\nChoosing a Database Solution                                                                                         5\nLightweight Databases                                                                                                       5\nCentralized Databases                                                                                                       6\n3. SQLite. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  9'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='3. SQLite. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  9\nWhat Is SQLite?                                                                                                                  9\nSQLiteStudio                                                                                                                       9\nImporting and Navigating Databases                                                                            10\n4. SELECT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  19\nRetrieving Data with SQL                                                                                               19\nExpressions in SELECT Statements                                                                              23'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Expressions in SELECT Statements                                                                              23\nText Concatenation                                                                                                          27\nSummary                                                                                                                           28\niii'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='5. WHERE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  29\nFiltering Records                                                                                                              29\nUsing WHERE on Numbers                                                                                           30\nAND, OR, and IN Statements                                                                                        31\nUsing WHERE on Text                                                                                                   32\nUsing WHERE on Booleans                                                                                           34\nHandling NULL                                                                                                               34\nGrouping Conditions                                                                                                      36'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Grouping Conditions                                                                                                      36\nSummary                                                                                                                           37\n6. GROUP BY and ORDER BY. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  39\nGrouping Records                                                                                                            39\nOrdering Records                                                                                                             41\nAggregate Functions                                                                                                        42\nThe HAVING Statement                                                                                                 45'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The HAVING Statement                                                                                                 45\nGetting Distinct Records                                                                                                46\nSummary                                                                                                                           46\n7. CASE Statements. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  47\nThe CASE Statement                                                                                                       47\nGrouping CASE Statements                                                                                           48\nThe “Zero/Null” CASE Trick                                                                                          49'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The “Zero/Null” CASE Trick                                                                                          49\nSummary                                                                                                                           52\n8. JOIN. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  53\nStitching Tables Together                                                                                                53\nINNER JOIN                                                                                                                    55\nLEFT JOIN                                                                                                                        58\nOther JOIN Types                                                                                                            61'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Other JOIN Types                                                                                                            61\nJoining Multiple Tables                                                                                                   61\nGrouping JOINs                                                                                                               63\nSummary                                                                                                                           66\n9. Database Design. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  67\nPlanning a Database                                                                                                        67\nThe SurgeTech Conference                                                                                             69'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The SurgeTech Conference                                                                                             69\nATTENDEE                                                                                                                  69\nCOMPANY                                                                                                                   69\nPRESENTATION                                                                                                         70\nROOM                                                                                                                           70\nPRESENTATION_ATTENDANCE                                                                          70\nPrimary and Foreign Keys                                                                                              70\niv | Table of Contents'),

### embedding And vectorStoreDB

In [6]:
import numpy as np
from sentence_transformers import SentenceTransformer
import chromadb
from chromadb.config import Settings
import uuid
from typing import List, Dict, Any, Tuple
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
class EmbeddingManager:
    """Handles document embedding generation using SentenceTransformer"""
    
    def __init__(self, model_name: str = "all-MiniLM-L6-v2"):
        """
        Initialize the embedding manager
        
        Args:
            model_name: HuggingFace model name for sentence embeddings
        """
        self.model_name = model_name
        self.model = None
        self._load_model()

    def _load_model(self):
        """Load the SentenceTransformer model"""
        try:
            print(f"Loading embedding model: {self.model_name}")
            self.model = SentenceTransformer(self.model_name)
            print(f"Model loaded successfully. Embedding dimension: {self.model.get_sentence_embedding_dimension()}")
        except Exception as e:
            print(f"Error loading model {self.model_name}: {e}")
            raise

    def generate_embeddings(self, texts: List[str]) -> np.ndarray:
        """
        Generate embeddings for a list of texts
        
        Args:
            texts: List of text strings to embed
            
        Returns:
            numpy array of embeddings with shape (len(texts), embedding_dim)
        """
        if not self.model:
            raise ValueError("Model not loaded")
        
        print(f"Generating embeddings for {len(texts)} texts...")
        embeddings = self.model.encode(texts, show_progress_bar=True)
        print(f"Generated embeddings with shape: {embeddings.shape}")
        return embeddings


## initialize the embedding manager

embedding_manager=EmbeddingManager()
embedding_manager

Loading embedding model: all-MiniLM-L6-v2
Model loaded successfully. Embedding dimension: 384

### VectorStore

In [8]:
class VectorStore:
    """Manages document embeddings in a ChromaDB vector store"""
    
    def __init__(self, collection_name: str = "pdf_documents", persist_directory: str = "../data/vector_store"):
        """
        Initialize the vector store
        
        Args:
            collection_name: Name of the ChromaDB collection
            persist_directory: Directory to persist the vector store
        """
        self.collection_name = collection_name
        self.persist_directory = persist_directory
        self.client = None
        self.collection = None
        self._initialize_store()

    def _initialize_store(self):
        """Initialize ChromaDB client and collection"""
        try:
            # Create persistent ChromaDB client
            os.makedirs(self.persist_directory, exist_ok=True)
            self.client = chromadb.PersistentClient(path=self.persist_directory)
            
            # Get or create collection
            self.collection = self.client.get_or_create_collection(
                name=self.collection_name,
                metadata={"description": "PDF document embeddings for RAG"}
            )
            print(f"Vector store initialized. Collection: {self.collection_name}")
            print(f"Existing documents in collection: {self.collection.count()}")
            
        except Exception as e:
            print(f"Error initializing vector store: {e}")
            raise

    def add_documents(self, documents: List[Any], embeddings: np.ndarray):
        """
        Add documents and their embeddings to the vector store
        
        Args:
            documents: List of LangChain documents
            embeddings: Corresponding embeddings for the documents
        """
        if len(documents) != len(embeddings):
            raise ValueError("Number of documents must match number of embeddings")
        
        print(f"Adding {len(documents)} documents to vector store...")
        
        # Prepare data for ChromaDB
        ids = []
        metadatas = []
        documents_text = []
        embeddings_list = []
        
        for i, (doc, embedding) in enumerate(zip(documents, embeddings)):
            # Generate unique ID
            doc_id = f"doc_{uuid.uuid4().hex[:8]}_{i}"
            ids.append(doc_id)
            
            # Prepare metadata
            metadata = dict(doc.metadata)
            metadata['doc_index'] = i
            metadata['content_length'] = len(doc.page_content)
            metadatas.append(metadata)
            
            # Document content
            documents_text.append(doc.page_content)
            
            # Embedding
            embeddings_list.append(embedding.tolist())
        
        # Add to collection
        try:
            self.collection.add(
                ids=ids,
                embeddings=embeddings_list,
                metadatas=metadatas,
                documents=documents_text
            )
            print(f"Successfully added {len(documents)} documents to vector store")
            print(f"Total documents in collection: {self.collection.count()}")
            
        except Exception as e:
            print(f"Error adding documents to vector store: {e}")
            raise

vectorstore=VectorStore()
vectorstore

Vector store initialized. Collection: pdf_documents
Existing documents in collection: 0

In [9]:
chunks

[Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 0, 'page_label': 'Cover', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\n Getting Started with\n  SQL\nA HANDS-ON APPROACH  \nFOR BEGINNERS'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 2, 'page_label': 'i', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Thomas Nield\nBoston\nGetting Started with SQL\nA Hands-on Approach for Beginners'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='978-1-491-93861-4\n[LSI]\nGetting Started with SQL\nby Thomas Nield\nCopyright © 2016 Thomas Nield. All rights reserved.\nPrinted in the United States of America.\nPublished by O’Reilly Media, Inc., 1005 Gravenstein Highway North, Sebastopol, CA 95472.\nO’Reilly books may be purchased for educational, business, or sales promotional use. Online editions are\nalso available for most titles ( http://safaribooksonline.com). For more information, contact our corporate/\ninstitutional sales department: 800-998-9938 or corporate@oreilly.com.\nEditor: Shannon Cutt\nProduction Editor: Shiny Kalapurakkel\nCopyeditor: Jasmine Kwityn\nProofreader: Rachel Head\nIndexer: Ellen Troutman-Zaig\nInterior Designer: David Futato\nCover Designer: Randy Comer\nIllustrator: Rebecca Demarest\nFebruary 2016:  First Edition\nRevision History for the First Edition\n2016-02-08: First Release\nSee http://oreilly.com/catalog/errata.csp?isbn=9781491938614 for release details.'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='February 2016:  First Edition\nRevision History for the First Edition\n2016-02-08: First Release\nSee http://oreilly.com/catalog/errata.csp?isbn=9781491938614 for release details.\nThe O’Reilly logo is a registered trademark of O’Reilly Media, Inc. Getting Started with SQL , the cover\nimage, and related trade dress are trademarks of O’Reilly Media, Inc.\nWhile the publisher and the author have used good faith efforts to ensure that the information and\ninstructions contained in this work are accurate, the publisher and the author disclaim all responsibility\nfor errors or omissions, including without limitation responsibility for damages resulting from the use of\nor reliance on this work. Use of the information and instructions contained in this work is at your own\nrisk. If any code samples or other technology this work contains or describes is subject to open source\nlicenses or the intellectual property rights of others, it is your responsibility to ensure that your use'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 3, 'page_label': 'ii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='licenses or the intellectual property rights of others, it is your responsibility to ensure that your use\nthereof complies with such licenses and/or rights.'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Table of Contents\nForeword. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  vii\nPreface. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  ix\n1. Why Learn SQL?. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  1\nWhat Is SQL and Why Is It Marketable?                                                                        1\nWho Is SQL For?                                                                                                                2\n2. Databases. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  3\nWhat Is a Database?                                                                                                           3'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='What Is a Database?                                                                                                           3\nExploring Relational Databases                                                                                       3\nWhy Separate Tables?                                                                                                        4\nChoosing a Database Solution                                                                                         5\nLightweight Databases                                                                                                       5\nCentralized Databases                                                                                                       6\n3. SQLite. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  9'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='3. SQLite. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  9\nWhat Is SQLite?                                                                                                                  9\nSQLiteStudio                                                                                                                       9\nImporting and Navigating Databases                                                                            10\n4. SELECT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  19\nRetrieving Data with SQL                                                                                               19\nExpressions in SELECT Statements                                                                              23'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 4, 'page_label': 'iii', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Expressions in SELECT Statements                                                                              23\nText Concatenation                                                                                                          27\nSummary                                                                                                                           28\niii'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='5. WHERE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  29\nFiltering Records                                                                                                              29\nUsing WHERE on Numbers                                                                                           30\nAND, OR, and IN Statements                                                                                        31\nUsing WHERE on Text                                                                                                   32\nUsing WHERE on Booleans                                                                                           34\nHandling NULL                                                                                                               34\nGrouping Conditions                                                                                                      36'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Grouping Conditions                                                                                                      36\nSummary                                                                                                                           37\n6. GROUP BY and ORDER BY. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  39\nGrouping Records                                                                                                            39\nOrdering Records                                                                                                             41\nAggregate Functions                                                                                                        42\nThe HAVING Statement                                                                                                 45'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The HAVING Statement                                                                                                 45\nGetting Distinct Records                                                                                                46\nSummary                                                                                                                           46\n7. CASE Statements. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  47\nThe CASE Statement                                                                                                       47\nGrouping CASE Statements                                                                                           48\nThe “Zero/Null” CASE Trick                                                                                          49'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The “Zero/Null” CASE Trick                                                                                          49\nSummary                                                                                                                           52\n8. JOIN. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  53\nStitching Tables Together                                                                                                53\nINNER JOIN                                                                                                                    55\nLEFT JOIN                                                                                                                        58\nOther JOIN Types                                                                                                            61'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='Other JOIN Types                                                                                                            61\nJoining Multiple Tables                                                                                                   61\nGrouping JOINs                                                                                                               63\nSummary                                                                                                                           66\n9. Database Design. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  67\nPlanning a Database                                                                                                        67\nThe SurgeTech Conference                                                                                             69'),
 Document(metadata={'producer': 'Antenna House PDF Output Library 6.2.609 (Linux64)', 'creator': 'AH CSS Formatter V6.2 MR4 for Linux64 : 6.2.6.18551 (2014/09/24 15:00JST)', 'creationdate': '2016-02-09T20:28:58+00:00', 'author': 'Thomas Nield', 'moddate': '2016-02-09T15:39:30-05:00', 'title': 'Getting Started with SQL', 'trapped': '/False', 'source': '../data/Getting Started with SQL.pdf', 'total_pages': 133, 'page': 5, 'page_label': 'iv', 'source_file': 'Getting Started with SQL.pdf', 'file_type': 'pdf'}, page_content='The SurgeTech Conference                                                                                             69\nATTENDEE                                                                                                                  69\nCOMPANY                                                                                                                   69\nPRESENTATION                                                                                                         70\nROOM                                                                                                                           70\nPRESENTATION_ATTENDANCE                                                                          70\nPrimary and Foreign Keys                                                                                              70\niv | Table of Contents'),

In [10]:
### Convert the text to embeddings
texts=[doc.page_content for doc in chunks]

## Generate the Embeddings

embeddings=embedding_manager.generate_embeddings(texts)

##store int he vector dtaabase
vectorstore.add_documents(chunks,embeddings)

Generating embeddings for 237 texts...

Batches:   0%|          | 0/8 [00:00<?, ?it/s]

Batches: 100%|██████████| 8/8 [00:01<00:00,  5.95it/s]

Generated embeddings with shape: (237, 384)
Adding 237 documents to vector store...
Successfully added 237 documents to vector store
Total documents in collection: 237

### Retriever Pipeline From VectorStore

In [11]:
class RAGRetriever:
    """Handles query-based retrieval from the vector store"""
    
    def __init__(self, vector_store: VectorStore, embedding_manager: EmbeddingManager):
        """
        Initialize the retriever
        
        Args:
            vector_store: Vector store containing document embeddings
            embedding_manager: Manager for generating query embeddings
        """
        self.vector_store = vector_store
        self.embedding_manager = embedding_manager

    def retrieve(self, query: str, top_k: int = 5, score_threshold: float = 0.0) -> List[Dict[str, Any]]:
        """
        Retrieve relevant documents for a query
        
        Args:
            query: The search query
            top_k: Number of top results to return
            score_threshold: Minimum similarity score threshold
            
        Returns:
            List of dictionaries containing retrieved documents and metadata
        """
        print(f"Retrieving documents for query: '{query}'")
        print(f"Top K: {top_k}, Score threshold: {score_threshold}")
        
        # Generate query embedding
        query_embedding = self.embedding_manager.generate_embeddings([query])[0]
        
        # Search in vector store
        try:
            results = self.vector_store.collection.query(
                query_embeddings=[query_embedding.tolist()],
                n_results=top_k
            )
            
            # Process results
            retrieved_docs = []
            
            if results['documents'] and results['documents'][0]:
                documents = results['documents'][0]
                metadatas = results['metadatas'][0]
                distances = results['distances'][0]
                ids = results['ids'][0]
                
                for i, (doc_id, document, metadata, distance) in enumerate(zip(ids, documents, metadatas, distances)):
                    # Convert distance to similarity score (ChromaDB uses cosine distance)
                    similarity_score = 1 - distance
                    
                    if similarity_score >= score_threshold:
                        retrieved_docs.append({
                            'id': doc_id,
                            'content': document,
                            'metadata': metadata,
                            'similarity_score': similarity_score,
                            'distance': distance,
                            'rank': i + 1
                        })
                
                print(f"Retrieved {len(retrieved_docs)} documents (after filtering)")
            else:
                print("No documents found")
            
            return retrieved_docs
            
        except Exception as e:
            print(f"Error during retrieval: {e}")
            return []

rag_retriever=RAGRetriever(vectorstore,embedding_manager)

In [12]:
rag_retriever

In [13]:
rag_retriever.retrieve("What is attention is all you need")

Retrieving documents for query: 'What is attention is all you need'
Top K: 5, Score threshold: 0.0
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 39.77it/s]

Generated embeddings with shape: (1, 384)
Retrieved 0 documents (after filtering)

[]

In [14]:
rag_retriever.retrieve("Unified Multi-task Learning Framework")

Retrieving documents for query: 'Unified Multi-task Learning Framework'
Top K: 5, Score threshold: 0.0
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 119.86it/s]

Generated embeddings with shape: (1, 384)
Retrieved 0 documents (after filtering)

[]

### RAG Pipeline- VectorDB To LLM Output Generation

In [15]:
import os
from dotenv import load_dotenv
load_dotenv()

print(os.getenv("GROQ_API_KEY"))

None

In [17]:
from langchain.prompts import PromptTemplate
from langchain.schema import HumanMessage, SystemMessage
from langchain_google_genai import ChatGoogleGenerativeAI

In [23]:
class GeminiLLM:
    def __init__(self, model_name: str = "gemini-2.5-flash", api_key: str =None):
        """
        Initialize Gemini LLM
        
        Args:
            model_name: Gemini model name (qwen2-72b-instruct, llama3-70b-8192, etc.)
            api_key: Gemini API key (or set GEMINI_API_KEY environment variable)
        """
        self.model_name = model_name
        # self.api_key = api_key or os.environ.get("GEMINI_API_KEY")
        self.api_key = "AIzaSyCKbtNTmQsO9WG-RxznG1hSFf31io8eQOw"
        
        if not self.api_key:
            raise ValueError("Gemini API key is required. Set GEMINI_API_KEY environment variable or pass api_key parameter.")
        
        self.llm = ChatGoogleGenerativeAI(
            model="gemini-2.5-flash",
            temperature=0,
            max_tokens=None,
            timeout=None,
            max_retries=2,
            # other params...
        )
        
        print(f"Initialized Gemini LLM with model: {self.model_name}")

    def generate_response(self, query: str, context: str, max_length: int = 500) -> str:
        """
        Generate response using retrieved context
        
        Args:
            query: User question
            context: Retrieved document context
            max_length: Maximum response length
            
        Returns:
            Generated response string
        """
        
        # Create prompt template
        prompt_template = PromptTemplate(
            input_variables=["context", "question"],
            template="""You are a helpful AI assistant. Use the following context to answer the question accurately and concisely.

            Context:
            {context}

            Question: {question}

            Answer: Provide a clear and informative answer based on the context above. If the context doesn't contain enough information to answer the question, say so."""
        )
        
        # Format the prompt
        formatted_prompt = prompt_template.format(context=context, question=query)
        
        try:
            # Generate response
            messages = [HumanMessage(content=formatted_prompt)]
            response = self.llm.invoke(messages)
            return response.content
            
        except Exception as e:
            return f"Error generating response: {str(e)}"
        
    def generate_response_simple(self, query: str, context: str) -> str:
        """
        Simple response generation without complex prompting
        
        Args:
            query: User question
            context: Retrieved context
            
        Returns:
            Generated response
        """
        simple_prompt = f"""Based on this context: {context}

        Question: {query}

        Answer:"""
        
        try:
            messages = [HumanMessage(content=simple_prompt)]
            response = self.llm.invoke(messages)
            return response.content
        except Exception as e:
            return f"Error: {str(e)}"

In [26]:
# Initialize Groq LLM (you'll need to set GROQ_API_KEY environment variable)
try:
    # gemini_llm = GeminiLLM(api_key=os.getenv(""))
    gemini_llm = GeminiLLM(model_name= "gemini-2.5-flash",api_key="AIzaSyCKbtNTmQsO9WG-RxznG1hSFf31io8eQOw")
    print("Gemini LLM initialized successfully!")
except ValueError as e:
    print(f"Warning: {e}")
    print("Please set your GROQ_API_KEY environment variable to use the LLM.")
    gemini_llm = None

DefaultCredentialsError: Your default credentials were not found. To set up Application Default Credentials, see https://cloud.google.com/docs/authentication/external/set-up-adc for more information.

In [ ]:
### get the context from the retriever and pass it to the LLM

rag_retriever.retrieve("Unified Multi-task Learning Framework")

Retrieving documents for query: 'Unified Multi-task Learning Framework'
Top K: 5, Score threshold: 0.0
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 88.98it/s]

Generated embeddings with shape: (1, 384)
Retrieved 5 documents (after filtering)

[{'id': 'doc_bd5cc745_61',
  'content': 'erage scores on CMTEB[ 22] and MTEB[ 23] benchmarks, ranking ﬁrst overall on both\nCMTEB and MTEB leaderboards, demonstrating the eﬀectiveness o f our approach.\nThe contributions of our work are summarized as follows:\n• We propose a uniﬁed multi-task learning framework that systematic ally coordi-\nnates both data processing and training pipelines, enhancing divers ity in datasets\nand eﬃciency in model training ;\n• We develop advanced data synthesis techniques powered by LLM, in cluding Para-\nphrasing, Data augmentation, and Hard negative generation. The se methods\nsigniﬁcantly enhance the quality of training corpora, thereby impro ving model’s\nrobustness and generalization capabilities;\n• We emply a two-stage training paradigm: Stage 1 focuses exclusively on retrieval\ncapability building, establishing strong foundational retrieval perf ormance; and\nstage 2 implements balanced training with controled retrieval/non-r etrieval task',
  'metadata': {'creationdate': '2025-09-01T00:50:53+00:00',
   'creator': 'arXiv GenPDF (tex2pdf:)',
   'source_file': 'emneddings.pdf',
   'file_type': 'pdf',
   'title': 'QZhou-Embedding Technical Report',
   'keywords': '',
   'arxivid': 'https://arxiv.org/abs/2508.21632v1',
   'total_pages': 27,
   'author': 'Peng Yu; En Xu; Bin Chen; Haibiao Chen; Yinfei Xu',
   'page_label': '3',
   'moddate': '2025-09-01T00:50:53+00:00',
   'doi': 'https://doi.org/10.48550/arXiv.2508.21632',
   'content_length': 941,
   'producer': 'pikepdf 8.15.1',
   'page': 2,
   'doc_index': 61,
   'license': 'http://creativecommons.org/licenses/by/4.0/',
   'source': '..\\data\\pdf\\emneddings.pdf'},
  'similarity_score': 0.13801008462905884,
  'distance': 0.8619899153709412,
  'rank': 1},
 {'id': 'doc_442dbe7b_61',
  'content': 'erage scores on CMTEB[ 22] and MTEB[ 23] benchmarks, ranking ﬁrst overall on both\nCMTEB and MTEB leaderboards, demonstrating the eﬀectiveness o f our approach.\nThe contributions of our work are summarized as follows:\n• We propose a uniﬁed multi-task learning framework that systematic ally coordi-\nnates both data processing and training pipelines, enhancing divers ity in datasets\nand eﬃciency in model training ;\n• We develop advanced data synthesis techniques powered by LLM, in cluding Para-\nphrasing, Data augmentation, and Hard negative generation. The se methods\nsigniﬁcantly enhance the quality of training corpora, thereby impro ving model’s\nrobustness and generalization capabilities;\n• We emply a two-stage training paradigm: Stage 1 focuses exclusively on retrieval\ncapability building, establishing strong foundational retrieval perf ormance; and\nstage 2 implements balanced training with controled retrieval/non-r etrieval task',
  'metadata': {'total_pages': 27,
   'file_type': 'pdf',
   'doc_index': 61,
   'title': 'QZhou-Embedding Technical Report',
   'keywords': '',
   'content_length': 941,
   'doi': 'https://doi.org/10.48550/arXiv.2508.21632',
   'page': 2,
   'page_label': '3',
   'producer': 'pikepdf 8.15.1',
   'author': 'Peng Yu; En Xu; Bin Chen; Haibiao Chen; Yinfei Xu',
   'source': '..\\data\\pdf\\emneddings.pdf',
   'creationdate': '2025-09-01T00:50:53+00:00',
   'creator': 'arXiv GenPDF (tex2pdf:)',
   'arxivid': 'https://arxiv.org/abs/2508.21632v1',
   'source_file': 'emneddings.pdf',
   'license': 'http://creativecommons.org/licenses/by/4.0/',
   'moddate': '2025-09-01T00:50:53+00:00'},
  'similarity_score': 0.13801008462905884,
  'distance': 0.8619899153709412,
  'rank': 2},
 {'id': 'doc_45e2cfa9_61',
  'content': 'erage scores on CMTEB[ 22] and MTEB[ 23] benchmarks, ranking ﬁrst overall on both\nCMTEB and MTEB leaderboards, demonstrating the eﬀectiveness o f our approach.\nThe contributions of our work are summarized as follows:\n• We propose a uniﬁed multi-task learning framework that systematic ally coordi-\nnates both data processing and training pipelines, enhancing divers ity in datasets\nand eﬃciency in model training ;\n• We develop advanced data synthesis techniques powered by LLM, in cluding Para-\nphrasing, Data augmentation, and Hard negative generation. The se methods\nsigniﬁcantly enhance the quality of training corpora, thereby impro ving model’s\nrobustness and generalization capabilities;\n• We emply a two-stage training paradigm: Stage 1 focuses exclusively on retrieval\ncapability building, establishing strong foundational retrieval perf ormance; and\nstage 2 implements balanced training with controled retrieval/non-r etrieval task',
  'metadata': {'producer': 'pikepdf 8.15.1',
   'keywords': '',
   'doi': 'https://doi.org/10.48550/arXiv.2508.21632',
   'source': '..\\data\\pdf\\emneddings.pdf',
   'arxivid': 'https://arxiv.org/abs/2508.21632v1',
   'creationdate': '2025-09-01T00:50:53+00:00',
   'moddate': '2025-09-01T00:50:53+00:00',
   'total_pages': 27,
   'content_length': 941,
   'page': 2,
   'doc_index': 61,
   'source_file': 'emneddings.pdf',
   'creator': 'arXiv GenPDF (tex2pdf:)',
   'file_type': 'pdf',
   'license': 'http://creativecommons.org/licenses/by/4.0/',
   'page_label': '3',
   'author': 'Peng Yu; En Xu; Bin Chen; Haibiao Chen; Yinfei Xu',
   'title': 'QZhou-Embedding Technical Report'},
  'similarity_score': 0.13801008462905884,
  'distance': 0.8619899153709412,
  'rank': 3},
 {'id': 'doc_3497d198_71',
  'content': 'and Conan-Embedding-v2 have incorporated multi-task learning us ing diverse train-\ning data with varying label processing methods, some employing task -speciﬁc losses\n(InfoNCE[48], Cosent[ 49], etc.).\nOur design principle aims to accommodate more tasks and data types , enabling cross-\ndomain and cross-task data to eﬀectively enhance embedding capa bilities. We propose\na uniﬁed multi-task learning framework that categorizes training da ta into three task\ntypes: retrieval, NLI, and classiﬁcation, with customized data and training solutions\nfor each, allowing most natural text data to be converted into emb edding training data\nthrough this framework. The following sections detail the framewo rk’s components and\nimplementation methods.\n3.1 Model Architecture\nEmbedding models based on BERT or T5 [\n39][15][50][24] exhibit powerful contextual\nrepresentation capabilities, primarily attributed to their bidirection al attention mech-',
  'metadata': {'moddate': '2025-09-01T00:50:53+00:00',
   'title': 'QZhou-Embedding Technical Report',
   'page': 4,
   'doi': 'https://doi.org/10.48550/arXiv.2508.21632',
   'source_file': 'emneddings.pdf',
   'arxivid': 'https://arxiv.org/abs/2508.21632v1',
   'author': 'Peng Yu; En Xu; Bin Chen; Haibiao Chen; Yinfei Xu',
   'page_label': '5',
   'file_type': 'pdf',
   'producer': 'pikepdf 8.15.1',
   'source': '..\\data\\pdf\\emneddings.pdf',
   'license': 'http://creativecommons.org/licenses/by/4.0/',
   'total_pages': 27,
   'content_length': 937,
   'doc_index': 71,
   'creator': 'arXiv GenPDF (tex2pdf:)',
   'creationdate': '2025-09-01T00:50:53+00:00',
   'keywords': ''},
  'similarity_score': 0.10624760389328003,
  'distance': 0.89375239610672,
  'rank': 4},
 {'id': 'doc_bb00aef7_71',
  'content': 'and Conan-Embedding-v2 have incorporated multi-task learning us ing diverse train-\ning data with varying label processing methods, some employing task -speciﬁc losses\n(InfoNCE[48], Cosent[ 49], etc.).\nOur design principle aims to accommodate more tasks and data types , enabling cross-\ndomain and cross-task data to eﬀectively enhance embedding capa bilities. We propose\na uniﬁed multi-task learning framework that categorizes training da ta into three task\ntypes: retrieval, NLI, and classiﬁcation, with customized data and training solutions\nfor each, allowing most natural text data to be converted into emb edding training data\nthrough this framework. The following sections detail the framewo rk’s components and\nimplementation methods.\n3.1 Model Architecture\nEmbedding models based on BERT or T5 [\n39][15][50][24] exhibit powerful contextual\nrepresentation capabilities, primarily attributed to their bidirection al attention mech-',
  'metadata': {'total_pages': 27,
   'author': 'Peng Yu; En Xu; Bin Chen; Haibiao Chen; Yinfei Xu',
   'source': '..\\data\\pdf\\emneddings.pdf',
   'creationdate': '2025-09-01T00:50:53+00:00',
   'content_length': 937,
   'page': 4,
   'moddate': '2025-09-01T00:50:53+00:00',
   'license': 'http://creativecommons.org/licenses/by/4.0/',
   'title': 'QZhou-Embedding Technical Report',
   'arxivid': 'https://arxiv.org/abs/2508.21632v1',
   'creator': 'arXiv GenPDF (tex2pdf:)',
   'doi': 'https://doi.org/10.48550/arXiv.2508.21632',
   'file_type': 'pdf',
   'producer': 'pikepdf 8.15.1',
   'source_file': 'emneddings.pdf',
   'doc_index': 71,
   'page_label': '5',
   'keywords': ''},
  'similarity_score': 0.10624760389328003,
  'distance': 0.89375239610672,
  'rank': 5}]

### Integration Vectordb Context pipeline With LLM output

In [ ]:
### Simple RAG pipeline with Groq LLM
from langchain_groq import ChatGroq
import os
from dotenv import load_dotenv
load_dotenv()

### Initialize the Groq LLM (set your GROQ_API_KEY in environment)
groq_api_key = os.getenv("GROQ_API_KEY")

llm=ChatGroq(groq_api_key=groq_api_key,model_name="gemma2-9b-it",temperature=0.1,max_tokens=1024)

## 2. Simple RAG function: retrieve context + generate response
def rag_simple(query,retriever,llm,top_k=3):
    ## retriever the context
    results=retriever.retrieve(query,top_k=top_k)
    context="\n\n".join([doc['content'] for doc in results]) if results else ""
    if not context:
        return "No relevant context found to answer the question."
    
    ## generate the answwer using GROQ LLM
    prompt=f"""Use the following context to answer the question concisely.
        Context:
        {context}

        Question: {query}

        Answer:"""
    
    response=llm.invoke([prompt.format(context=context,query=query)])
    return response.content

In [ ]:
answer=rag_simple("What is attention mechanism?",rag_retriever,llm)
print(answer)

Retrieving documents for query: 'What is attention mechanism?'
Top K: 3, Score threshold: 0.0
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 76.39it/s]

Generated embeddings with shape: (1, 384)
Retrieved 3 documents (after filtering)

An attention mechanism is a function that maps a query and a set of key-value pairs to an output vector, using a weighted sum of the values.

### Enhanced RAG Pipeline Features

In [ ]:
# --- Enhanced RAG Pipeline Features ---
def rag_advanced(query, retriever, llm, top_k=5, min_score=0.2, return_context=False):
    """
    RAG pipeline with extra features:
    - Returns answer, sources, confidence score, and optionally full context.
    """
    results = retriever.retrieve(query, top_k=top_k, score_threshold=min_score)
    if not results:
        return {'answer': 'No relevant context found.', 'sources': [], 'confidence': 0.0, 'context': ''}
    
    # Prepare context and sources
    context = "\n\n".join([doc['content'] for doc in results])
    sources = [{
        'source': doc['metadata'].get('source_file', doc['metadata'].get('source', 'unknown')),
        'page': doc['metadata'].get('page', 'unknown'),
        'score': doc['similarity_score'],
        'preview': doc['content'][:300] + '...'
    } for doc in results]
    confidence = max([doc['similarity_score'] for doc in results])
    
    # Generate answer
    prompt = f"""Use the following context to answer the question concisely.\nContext:\n{context}\n\nQuestion: {query}\n\nAnswer:"""
    response = llm.invoke([prompt.format(context=context, query=query)])
    
    output = {
        'answer': response.content,
        'sources': sources,
        'confidence': confidence
    }
    if return_context:
        output['context'] = context
    return output

# Example usage:
result = rag_advanced("Hard Negative Mining Technqiues", rag_retriever, llm, top_k=3, min_score=0.1, return_context=True)
print("Answer:", result['answer'])
print("Sources:", result['sources'])
print("Confidence:", result['confidence'])
print("Context Preview:", result['context'][:300])

Retrieving documents for query: 'Hard Negative Mining Technqiues'
Top K: 3, Score threshold: 0.1
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 95.68it/s]

Generated embeddings with shape: (1, 384)
Retrieved 3 documents (after filtering)

Answer: The text describes several hard negative mining techniques used in contrastive learning for retrieval models:

* **ANCE:** Uses asynchronous ANN indexing and checkpoint states to periodically update hard negatives.
* **Conan-Embedding:** Employs a dynamic strategy, excluding and refreshing samples based on score thresholds.
* **NV-Retriever:**  Proposes positive-aware mining with TopK-MarginPos and TopKPercPos filtering to reduce false negatives.
* **LGAI-Embedding:** Builds on NV-Retriever, using ANNA IR as a teacher model to identify high-quality hard negatives and TopKPercPos filtering.



Sources: [{'source': 'emneddings.pdf', 'page': 4, 'score': 0.18709993362426758, 'preview': 'QZhou-Embedding Technical Report\n Kingsoft AI\n2.4 Hard Negative Mining Techniques\nHard negatives serve as essential components in contrastive lear ning for retrieval model\ntraining. Early work like ANCE[\n46] proposed an asynchronous ANN indexing mech-\nanism that periodically updates hard negatives u...'}, {'source': 'emneddings.pdf', 'page': 4, 'score': 0.18709993362426758, 'preview': 'QZhou-Embedding Technical Report\n Kingsoft AI\n2.4 Hard Negative Mining Techniques\nHard negatives serve as essential components in contrastive lear ning for retrieval model\ntraining. Early work like ANCE[\n46] proposed an asynchronous ANN indexing mech-\nanism that periodically updates hard negatives u...'}, {'source': 'emneddings.pdf', 'page': 4, 'score': 0.18709993362426758, 'preview': 'QZhou-Embedding Technical Report\n Kingsoft AI\n2.4 Hard Negative Mining Techniques\nHard negatives serve as essential components in contrastive lear ning for retrieval model\ntraining. Early work like ANCE[\n46] proposed an asynchronous ANN indexing mech-\nanism that periodically updates hard negatives u...'}]
Confidence: 0.18709993362426758
Context Preview: QZhou-Embedding Technical Report
 Kingsoft AI
2.4 Hard Negative Mining Techniques
Hard negatives serve as essential components in contrastive lear ning for retrieval model
training. Early work like ANCE[
46] proposed an asynchronous ANN indexing mech-
anism that periodically updates hard negatives u

In [ ]:
# --- Advanced RAG Pipeline: Streaming, Citations, History, Summarization ---
from typing import List, Dict, Any
import time

class AdvancedRAGPipeline:
    def __init__(self, retriever, llm):
        self.retriever = retriever
        self.llm = llm
        self.history = []  # Store query history

    def query(self, question: str, top_k: int = 5, min_score: float = 0.2, stream: bool = False, summarize: bool = False) -> Dict[str, Any]:
        # Retrieve relevant documents
        results = self.retriever.retrieve(question, top_k=top_k, score_threshold=min_score)
        if not results:
            answer = "No relevant context found."
            sources = []
            context = ""
        else:
            context = "\n\n".join([doc['content'] for doc in results])
            sources = [{
                'source': doc['metadata'].get('source_file', doc['metadata'].get('source', 'unknown')),
                'page': doc['metadata'].get('page', 'unknown'),
                'score': doc['similarity_score'],
                'preview': doc['content'][:120] + '...'
            } for doc in results]
            # Streaming answer simulation
            prompt = f"""Use the following context to answer the question concisely.\nContext:\n{context}\n\nQuestion: {question}\n\nAnswer:"""
            if stream:
                print("Streaming answer:")
                for i in range(0, len(prompt), 80):
                    print(prompt[i:i+80], end='', flush=True)
                    time.sleep(0.05)
                print()
            response = self.llm.invoke([prompt.format(context=context, question=question)])
            answer = response.content

        # Add citations to answer
        citations = [f"[{i+1}] {src['source']} (page {src['page']})" for i, src in enumerate(sources)]
        answer_with_citations = answer + "\n\nCitations:\n" + "\n".join(citations) if citations else answer

        # Optionally summarize answer
        summary = None
        if summarize and answer:
            summary_prompt = f"Summarize the following answer in 2 sentences:\n{answer}"
            summary_resp = self.llm.invoke([summary_prompt])
            summary = summary_resp.content

        # Store query history
        self.history.append({
            'question': question,
            'answer': answer,
            'sources': sources,
            'summary': summary
        })

        return {
            'question': question,
            'answer': answer_with_citations,
            'sources': sources,
            'summary': summary,
            'history': self.history
        }

# Example usage:
adv_rag = AdvancedRAGPipeline(rag_retriever, llm)
result = adv_rag.query("what is attention is all you need", top_k=3, min_score=0.1, stream=True, summarize=True)
print("\nFinal Answer:", result['answer'])
print("Summary:", result['summary'])
print("History:", result['history'][-1])

Retrieving documents for query: 'what is attention is all you need'
Top K: 3, Score threshold: 0.1
Generating embeddings for 1 texts...

Batches: 100%|██████████| 1/1 [00:00<00:00, 88.93it/s]

Generated embeddings with shape: (1, 384)
Retrieved 3 documents (after filtering)
Streaming answer:
Use the following context to answer the question concisely.
Context:
3.2 Attention
An attention function can be described as mapping a query and a set of key-value pairs to an output,
where the query, keys, values, and output are all vectors. The output is computed as a weighted sum
3

3.2 Attention
An attention functi

on can be described as mapping a query and a set of key-value pairs to an output,
where the query, keys, values, and output are all vectors. The output is computed as a weighted sum
3

3.2 Attention
An attention function can be described as mapping a query and a set of key-value pairs to an output,
where the query, keys, values, and output are all vectors. The output is computed as a weighted sum
3

Question: what is attention is all you need

Answer:

Final Answer: "Attention Is All You Need" is a paper that introduced the Transformer model, which relies solely on attention mechanisms for sequence transduction tasks, eliminating the need for recurrent or convolutional networks.


Citations:
[1] attention.pdf (page 2)
[2] attention.pdf (page 2)
[3] attention.pdf (page 2)
Summary: The paper "Attention Is All You Need" introduced the Transformer model, a novel architecture for sequence transduction tasks.  This model utilizes only attention mechanisms, dispensing with traditional recurrent or convolutional networks.



History: {'question': 'what is attention is all you need', 'answer': '"Attention Is All You Need" is a paper that introduced the Transformer model, which relies solely on attention mechanisms for sequence transduction tasks, eliminating the need for recurrent or convolutional networks.  \n', 'sources': [{'source': 'attention.pdf', 'page': 2, 'score': 0.1399550437927246, 'preview': '3.2 Attention\nAn attention function can be described as mapping a query and a set of key-value pairs to an output,\nwhere...'}, {'source': 'attention.pdf', 'page': 2, 'score': 0.1399550437927246, 'preview': '3.2 Attention\nAn attention function can be described as mapping a query and a set of key-value pairs to an output,\nwhere...'}, {'source': 'attention.pdf', 'page': 2, 'score': 0.1399550437927246, 'preview': '3.2 Attention\nAn attention function can be described as mapping a query and a set of key-value pairs to an output,\nwhere...'}], 'summary': 'The paper "Attention Is All You Need" introduced the Transformer model, a novel architecture for sequence transduction tasks.  This model utilizes only attention mechanisms, dispensing with traditional recurrent or convolutional networks. \n\n\n'}